@model Avaliacoes.Domain.Avaliacao

@{
    ViewData["Title"] = "Avaliar";
}

<h4>Avaliação</h4>
<div style="font-size: 12px"> Os itens abaixo devem ser preenchidos com uma nota entre zero e dez.</div>
<hr />
<div class="row" style="font-size: 14px">
    <div class="col-md-10">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AvaliacaoId" />
            <div class="form-group col-md-4">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" readonly />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="Grau" class="control-label"></label>*@
                <input type="hidden" asp-for="Grau" class="form-control" />
                <span asp-validation-for="Grau" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="DataPP" class="control-label"></label>*@
                <input type="hidden" asp-for="DataPP" class="form-control" />
                <span asp-validation-for="DataPP" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="DataMeio" class="control-label"></label>*@
                <input type="hidden" asp-for="DataMeio" class="form-control" />
                <span asp-validation-for="DataMeio" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="DataFull" class="control-label"></label>*@
                <input type="hidden" asp-for="DataFull" class="form-control" />
                <span asp-validation-for="DataFull" class="text-danger"></span>
            </div>
            <br />
            <div style="display: flex; justify-content: space-between;">
                <div style="flex: 1">
                    <div class="form-group">
                        <label asp-for="Acoes" class="control-label"></label>
                        <input asp-for="Acoes" class="form-control" type="number" min="0" max="10" />
                        <span asp-validation-for="Acoes" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <label asp-for="Pubs" class="control-label"></label>
                        <input asp-for="Pubs" class="form-control" type="number" min="0" max="10" />
                        <span asp-validation-for="Pubs" class="text-danger"></span>
                    </div>
                </div>

                <div style="flex: 1">
                    <div class="form-group">
                        <label asp-for="Bondes" class="control-label"></label>
                        <input asp-for="Bondes" class="form-control" type="number" min="0" max="10" />
                        <span asp-validation-for="Bondes" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <label asp-for="Contencao" class="control-label"></label>
                        <input asp-for="Contencao" class="form-control" type="number" min="0" max="10" />
                        <span asp-validation-for="Contencao" class="text-danger"></span>
                    </div>
                </div>

                <div style="flex: 1">
                    <div class="form-group">
                        <label asp-for="Estudos" class="control-label"></label>
                        <input asp-for="Estudos" class="form-control" type="number" min="0" max="10" />
                        <span asp-validation-for="Estudos" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <label asp-for="Financeiro" class="control-label"></label>
                        <input asp-for="Financeiro" class="form-control" type="number" min="0" max="10" />
                        <span asp-validation-for="Financeiro" class="text-danger"></span>
                    </div>
                </div>

                <div style="flex: 1">
                    <div class="form-group">
                        <label asp-for="Operacional" class="control-label"></label>
                        <input asp-for="Operacional" class="form-control" type="number" min="0" max="10" />
                        <span asp-validation-for="Operacional" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <label asp-for="Dedicacao" class="control-label"></label>
                        <input asp-for="Dedicacao" class="form-control" type="number" min="0" max="10" />
                        <span asp-validation-for="Dedicacao" class="text-danger"></span>
                    </div>
                </div>

                <div style="flex: 1">
                    <div class="form-group">
                        <label asp-for="Frequencia" class="control-label"></label>
                        <input asp-for="Frequencia" class="form-control" type="number" min="0" max="10" />
                        <span asp-validation-for="Frequencia" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <label asp-for="Avaliador" class="control-label"></label>
                        <input asp-for="Avaliador" class="form-control" />
                        <span asp-validation-for="Avaliador" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    @*<label asp-for="Nota" class="control-label"></label>*@
                    <input type="hidden" asp-for="Nota" class="form-control" />
                    <span asp-validation-for="Nota" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @*<label asp-for="DivisaoId" class="control-label"></label>*@
                    <input type="hidden" asp-for="DivisaoId" class="form-control" />
                    <span asp-validation-for="DivisaoId" class="text-danger"></span>
                </div>
                <div class="form-group">                    
                    <input type="hidden" asp-for="UsuarioId" class="form-control" />
                    <span asp-validation-for="UsuarioId" class="text-danger"></span>
                </div>

            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-success">Retornar</a>
            </div>
        </form>
    </div>
</div>
<br />
<div style="display: flex">
    <div style="flex: 1">
        <div style="font-size: 14px">
            <p><b>Ações: </b>Participação nas Ações Sociais da Divisão e Regional</p>
            <p><b>Pubs: </b>Participação nos Pubs da Divisão e Regional</p>
            <p><b>Bondes: </b>Participação nos Bondes da Divisão e Regional</p>
            <p><b>Contenção: </b>Participação nas Contenções do Comando Grau III, II, I</p>
            <p><b>Financeiro: </b>Assiduidade no pagamento das mensalidades</p>
        </div>
    </div>
    <div style="flex: 1">
        <div style="font-size: 14px">
            <p><b>Operacional: </b>Participação nas funções de operacionais da Divisão e Regional (Ex: batedor)</p>
            <p><b>Estudos: </b>Participação nos Insights postados pelo Operacional</p>
            <p><b>Dedicação: </b>Proatividade na execução de tarefas da Divisão (Ex: recepção, limpeza)</p>
            <p><b>Frequência: </b>Participação nos eventos de outras Divisões</p>
            <p><b>Avaliador: </b>Reponsável pela avaliação do integrante</p>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
